<div
  class="col-xl-12 animate__animated animate__fadeIn"
  style="padding-bottom: 25px"
>
  <div><i class="fas fa-6x fa-globe mb-5 tm-section-icon"></i></div>
  <h2 class="tm-section-title tm-color-primary mb-5">Por País</h2>
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."
      ></app-pais-input>
    </div>
  </div>
  <ul class="list-group" *ngIf="mostrarSugerencias">
    <li
      *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action"
      style="padding: 0px"
    >
      <a
        class="nav-link"
        [routerLink]="['/pais', pais.alpha2Code]"
        style="font-size: 1rem !important"
        >{{ pais.name }}</a
      >
    </li>
    <li
      class="list-group-item list-group-item-action"
      style="padding: 0px"
      (click)="buscarSugerido(termino)"
    >
      <a class="nav-link" style="font-size: 1rem !important"
        >Buscar "{{ termino }}"</a
      >
    </li>
  </ul>
</div>
<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el término {{ termino }}
</div>
<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
